[Unit]
Description=The PHP 7 FastCGI Process Manager
After=network.target

[Service]
Type=notify
PIDFile=/var/run/php7-fpm.pid
ExecStartPre=/usr/local/lib/php7-fpm-checkconf
ExecStart=/usr/local/php7/sbin/php-fpm --fpm-config /usr/local/php7/etc/php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target